{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.svg",
      "options": {
        "parser": "html",
        "printWidth": 200,
        "tabWidth": 2,
        "singleQuote": false,
        "bracketSameLine": false
      }
    },
    {
      "files": ["*.json", "*.jsonc", ".prettierrc", ".editorconfig"],
      "options": {
        "parser": "json",
        "singleQuote": false
      }
    }
  ]
}
